pre>code:before {
    content: "Nyelv: " attr(data-lang-human);
    display: block;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: rgb(105, 242, 105);
    padding-left: 10px;
}

footer a.github-logo::before {
    background-image: url(/assets/img/github-mark.png);
    background-size: 0.6lh 0.6lh;
    background-repeat: no-repeat;
    display: inline-block;
    object-fit: contain;
    width: 0.8lh;
    height: 0.6lh;
    padding-right: 5px;
    content: "";
}

.dark a.github-logo::before {
    background-image: url(/assets/img/github-mark-white.png);
}